In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
dataset=pd.read_csv('train.csv')
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Missing values in categorical data

In [3]:
features_with_na = [feature for feature in dataset.columns if dataset[feature].isnull().sum()>0 and dataset[feature].dtype =='O']

for feature in features_with_na:
    print('{} has {}% of missing value'.format(feature,np.round(dataset[feature].isnull().mean(),4)))

Alley has 0.9377% of missing value
MasVnrType has 0.0055% of missing value
BsmtQual has 0.0253% of missing value
BsmtCond has 0.0253% of missing value
BsmtExposure has 0.026% of missing value
BsmtFinType1 has 0.0253% of missing value
BsmtFinType2 has 0.026% of missing value
Electrical has 0.0007% of missing value
FireplaceQu has 0.4726% of missing value
GarageType has 0.0555% of missing value
GarageFinish has 0.0555% of missing value
GarageQual has 0.0555% of missing value
GarageCond has 0.0555% of missing value
PoolQC has 0.9952% of missing value
Fence has 0.8075% of missing value
MiscFeature has 0.963% of missing value

In [8]:
#We replace the missing value with a new label called 'Missing'
def replace_mis(dataset,n):
    data = dataset.copy()
    data[features_with_na]=data[features_with_na].fillna('Missing')
    return data

dataset=replace_mis(dataset,features_with_na)

dataset[features_with_na].isnull().sum()

Alley           0
MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
Electrical      0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
dtype: int64

## Missing values in numerical features

In [16]:
feature_numeric_nan = [feature for feature in dataset.columns if dataset[feature].isnull().sum()>0 and dataset[feature].dtype != 'O']

In [17]:
for feature in feature_numeric_nan:
    print('The % missing values in {} is {}:'.format(feature,np.around(dataset[feature].isnull().mean(),4)))

The % missing values in LotFrontage is 0.1774:
The % missing values in MasVnrArea is 0.0055:
The % missing values in GarageYrBlt is 0.0555:

In [31]:
#Lets replace the missing values in numerical variables
#When we have a lot of outlier we replace the missing values with mean or median

for feature in feature_numeric_nan:
    median_val = dataset[feature].median()
    
    #to store the nan values we create a new column/feature
    dataset[feature+'nan']= np.where(dataset[feature].isnull(),1,0)
    
    dataset[feature].fillna(median_val,inplace=True)

dataset[feature_numeric_nan].isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [32]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan,LotFrontage nan,MasVnrArea nan,GarageYrBlt nan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,208500,0,0,0,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,181500,0,0,0,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,223500,0,0,0,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,140000,0,0,0,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,250000,0,0,0,0,0,0

## Dealing with DateTime variables

In [33]:
for feature in ['YearBuilt','YearRemodAdd','GarageYrBlt']:
       
    dataset[feature]=dataset['YrSold']-dataset[feature]

In [34]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan,LotFrontage nan,MasVnrArea nan,GarageYrBlt nan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,208500,0,0,0,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,181500,0,0,0,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,223500,0,0,0,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,140000,0,0,0,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,250000,0,0,0,0,0,0

## Normalisation of numeric features

In [35]:
#Consider the features with skewed distribution
import numpy as np
num_features=['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea', 'SalePrice']

for feature in num_features:
    dataset[feature]=np.log(dataset[feature])

## Handling Rare Categorical Feature

###### We will remove categorical variables that are present less than 1% of the observations

In [36]:
categorical_features=[feature for feature in dataset.columns if dataset[feature].dtype=='O']

In [37]:
for feature in categorical_features:
    temp=dataset.groupby(feature)['SalePrice'].count()/len(dataset)
    temp_df=temp[temp>0.01].index
    dataset[feature]=np.where(dataset[feature].isin(temp_df),dataset[feature],'Rare_var')

In [38]:
dataset.head(100)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan,LotFrontage nan,MasVnrArea nan,GarageYrBlt nan
0,1,60,RL,4.174387,9.041922,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,12.247694,0,0,0,0,0,0
1,2,20,RL,4.382027,9.169518,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,12.109011,0,0,0,0,0,0
2,3,60,RL,4.219508,9.328123,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,12.317167,0,0,0,0,0,0
3,4,70,RL,4.094345,9.164296,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,11.849398,0,0,0,0,0,0
4,5,60,RL,4.430817,9.565214,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,12.429216,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,60,RL,4.234107,9.186560,Pave,Missing,IR2,Lvl,AllPub,...,2009,WD,Normal,12.128111,0,0,0,0,0,0
96,97,20,RL,4.356709,9.236398,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Normal,12.273731,0,0,0,0,0,0
97,98,20,RL,4.290459,9.298443,Pave,Missing,Reg,HLS,AllPub,...,2007,WD,Normal,11.458997,0,0,0,0,0,0
98,99,30,RL,4.442651,9.270965,Pave,Missing,Reg,Lvl,AllPub,...,2010,COD,Abnorml,11.326596,0,0,0,0,0,0
99,100,20,RL,4.343805,9.139918,Pave,Missing,IR1,Lvl,AllPub,...,2010,WD,Normal,11.767180,0,0,0,0,0,0

In [39]:
for feature in categorical_features:
    labels_ordered=dataset.groupby([feature])['SalePrice'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    dataset[feature]=dataset[feature].map(labels_ordered)

In [40]:
dataset.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan,LotFrontage nan,MasVnrArea nan,GarageYrBlt nan
0,1,60,3,4.174387,9.041922,1,2,0,1,1,...,2008,2,3,12.247694,0,0,0,0,0,0
1,2,20,3,4.382027,9.169518,1,2,0,1,1,...,2007,2,3,12.109011,0,0,0,0,0,0
2,3,60,3,4.219508,9.328123,1,2,1,1,1,...,2008,2,3,12.317167,0,0,0,0,0,0
3,4,70,3,4.094345,9.164296,1,2,1,1,1,...,2006,2,0,11.849398,0,0,0,0,0,0
4,5,60,3,4.430817,9.565214,1,2,1,1,1,...,2008,2,3,12.429216,0,0,0,0,0,0
5,6,50,3,4.442651,9.554993,1,2,1,1,1,...,2009,2,3,11.870600,0,0,0,0,0,0
6,7,20,3,4.317488,9.218705,1,2,0,1,1,...,2007,2,3,12.634603,0,0,0,0,0,0
7,8,60,3,4.234107,9.247829,1,2,1,1,1,...,2009,2,3,12.206073,0,0,0,0,0,0
8,9,50,1,3.931826,8.719317,1,2,0,1,1,...,2008,2,0,11.774520,0,0,0,0,0,0
9,10,190,3,3.912023,8.911934,1,2,0,1,1,...,2008,2,3,11.678440,0,0,0,0,0,0

In [41]:
scaling_feature=[feature for feature in dataset.columns if feature not in ['Id','SalePerice'] ]
len(scaling_feature)

86

## Scaling of features

In [42]:
feature_scale=[feature for feature in dataset.columns if feature not in ['Id','SalePrice']]

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(dataset[feature_scale])

MinMaxScaler()

In [43]:
scaler.transform(dataset[feature_scale])

array([[0.23529412, 0.75      , 0.41820812, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.49506375, ..., 0.        , 0.        ,
        0.        ],
       [0.23529412, 0.75      , 0.434909  , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.29411765, 0.75      , 0.42385922, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.434909  , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.75      , 0.47117546, ..., 0.        , 0.        ,
        0.        ]])

In [44]:
data = pd.concat([dataset[['Id', 'SalePrice']].reset_index(drop=True),
                    pd.DataFrame(scaler.transform(dataset[feature_scale]), columns=feature_scale)],
                    axis=1)

In [45]:
data.head()

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan,LotFrontage nan,MasVnrArea nan,GarageYrBlt nan
0,1,12.247694,0.235294,0.75,0.418208,0.366344,1.0,1.0,0.000000,0.333333,...,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
1,2,12.109011,0.000000,0.75,0.495064,0.391317,1.0,1.0,0.000000,0.333333,...,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
2,3,12.317167,0.235294,0.75,0.434909,0.422359,1.0,1.0,0.333333,0.333333,...,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
3,4,11.849398,0.294118,0.75,0.388581,0.390295,1.0,1.0,0.333333,0.333333,...,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0,0.0,0.0,0.0
4,5,12.429216,0.235294,0.75,0.513123,0.468761,1.0,1.0,0.333333,0.333333,...,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
data.to_csv('X_train.csv',index=False)